@import "colors.scss";

%center {
    text-align: center;
    margin-bottom: 3%;
}

body {
    background-color: $primary;
    svg {
        margin-right: 5%;
    }

    div {
        .btn {
            cursor: pointer;
        }
    }
}

.inner-content {
    background-color: $secondary;
    border-radius: 20%;
    position: fixed;
    top: 15%;
    bottom: 5%;
    overflow: scroll;

    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    .search-box {
        width: 70%;
        margin: 4% auto 4% auto;

        input {
            width: 100%;
        }

        .custom-control {
            justify-content: flex-end;
        }
    }
}

.component-title {
   @extend %center;
   font-size: 200%;
}

.center-text {
    text-align: center;
    margin-top: 2%;

    h1 {
        @extend %center;
        font-size: 45px;
        color: $secondary;
        // transition: transform .2s;
        // &:hover {
        //     transform: scale(1.2);
        // }
    }
}

.round-table {
    margin-top: 1%;
    border-collapse: collapse !important;
    width: 100%;

    tbody {
        overflow-y: auto;
        tr {
            cursor: pointer;
            transition: transform .2s;

            &:hover {
                transform: scale(1.03);
            }
            &:active {
                transform: scale(1);
            }

            td {
                &.td-2 {
                    width: 8.66667%;
                }

                &.td-8 {
                    width: 82.666667%;
                }

                img {
                    width:  100px;
                    height: 100px;
                    background-size: cover;
                    margin: auto;
                }

                .user-data {
                    display: flex;
                    flex-direction: column;

                    .user-data-header {
                        font-size: 25px;
                        color: $name;
                    }

                    .user-data-control {
                        color: $text;
                    }
                }

                .user-buttons {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}